.App {
  max-width: 800px;
  margin: 0 auto;
}

.card-grid img {
  display: block;
}

.front {
  width: 100px;
  opacity: 0;
  z-index: -1;
  position: absolute;
  transform: translateY(-150px);
  transition: opacity 0.5s
}

.back {
  width: 100px;
  z-index: 1;
  transition: opacity 0.5s
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 2px;
}

.flipped .front {
  opacity: 100;
  z-index: 1;
}

.flipped .back {
  opacity: 0;
  z-index: -1;
}

.won {
  position: absolute;
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 20px;
  transform: translateX(25vw) translateY(25vh);
  border: 5px solid black;
  background-color: white;
  z-index: 10;
}